<header>
	<div class='new'>
		<i class='fa-duotone fa-plus'></i>
	</div>
	<form action='/post' method="post">
		<label for=''>tieu de</label>
		<input type='text' name="title"/>

		<label for=''>thumbnail</label>
		<input type='file' name="file"/>

		<label for=''>noi dung</label>
		<textarea id='' name='content' cols='30' rows='10'></textarea>
		<input type="submit">
	</form>
</header>
