<header>
	<div class='logo'>
		<a href='/'>Trang chủ</a>
	</div>
	<div class='new' id='add'>
		<i class='fa-duotone fa-plus'></i>
	</div>
	<div class='modal' id='addModal'>
		<form action='/post' method='post' class='formAdd' id='formAdd'>
			<div class='container'>
				<input
					type='text'
					name='title'
					class='input title__place'
					placeholder='Tiêu đề bài viết....'
					required
				/>
			</div>
			<div class='container'>
				<input type='file' name='thumb' />
			</div>

			<div class='container'>
				<textarea
					id=''
					name='content'
					cols='30'
					rows='10'
					class='input'
					placeholder='Nội dung bài viết'
				></textarea>
			</div>
			<button type='submit' class='button'>Đăng</button>
		</form>
	</div>

</header>
